@page "/learnBlazor/parentComponent"

<h3>ParentComponent</h3>

<_ChildComponent OnButtonClick="ShowMessage" Title="This title is passed as a pameter from parent component" MessageForGrandChild="This message is passed from Child Component">
    Some text between the tags from parent component!
</_ChildComponent>

<p>@messageText</p>

@code {
    public string messageText = "";

    private void ShowMessage()
    {
        messageText = "Button inside child component was clicked!";
    }
}
