@page "/learnBlazor/parentComponent"

<h3>ParentComponent</h3>
<CascadingValue Value="@MessageForGrandChild" Name="Message">
    <CascadingValue Value="@LuckyNumber" Name="LuckyNumber">
        <_ChildComponent @ref="childComp" OnButtonClick="ShowMessage" Title="This title is passed as a pameter from parent component">
            Some text between the tags from parent component!
        </_ChildComponent>
    </CascadingValue>
</CascadingValue>

<p>@messageText</p>

<div class="row">
    <div class="d-grid gap-2 d-md-block">
        <button class="btn btn-success" type="button" @onclick="() => childComp.ToastrSuccess()">Toastr Success</button>
        @*<button class="btn btn-danger" type="button" @onclick="SweetalertError">Sweetalert Failure</button>*@
    </div>
</div>

@code {
    private _ChildComponent childComp;
    private string MessageForGrandChild = "This message is passed from Child Component";
    private int LuckyNumber = 7;
    public string messageText = "";

    private void ShowMessage()
    {
        messageText = "Button inside child component was clicked!";
    }
}
